
@use 'main';

html {
  background-color: main.$backLight;
}

form {
  text-align: right;
  width: 300px;
}

label {
  margin-right: 10px;
}

input {
  margin-bottom: 20px;
}

#message p {
  font-style: italic;
  color: main.$contrast;
}



.hidden {
  display: none;
}