
@use 'sass:math';

$primary: #355070;
$contrast: #CC2936;

$back: #B1B1E5;
$backDark: #8585CB;
$backLight: #D8D8F6;

@function divMargin($width){
  @return math.div($width, 4);
}

html {
  background-color: $backDark;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: $primary;
}

a:link {
  color: #007AA4;
}

a:visited {
  color: #303691;
}