
@use 'main';

body {
  font-size: 2em;
}

#wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#content, #header, #footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  width: 1000px;
  padding: 40px;

  background-color: main.$back;
}

#content {
  height: 650px;

  border-top: 1px solid main.$primary;
  border-bottom: 1px solid main.$primary;
  
  color: main.$contrast;
}

/* Every React component inside the content section
should have these rules */
#content>* {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  button {
    color: main.$contrast;
    background-color: main.$backLight;
    border: 2px solid main.$primary;
  }
  button:hover {
    filter: brightness(95%);
  }
}



#lobbyMenu button {
  font-size: 2em;
  margin: 20px;
  padding: 10px 20px;
}

#lobbyJoin button, #lobbyCreate button {
  font-size: 0.5em;
  margin: 16px;
  padding: 5px 10px;
}



#side {
  position: absolute;
  top: 0px;
  left: 0px;

  transform: translate(-80px);
}