
@use 'main';

body {
  font-size: 2em;
}

#wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#content, #header, #footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  width: 1000px;
  padding: 40px;

  background-color: main.$back;
}

#content {
  min-height: 650px;

  border-top: 1px solid main.$primary;
  border-bottom: 1px solid main.$primary;
  
  color: main.$contrast;
}

/* Every React component inside the content section
should have these rules */
#content>* {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  background-color: main.$back;
  padding: 20px;

  button {
    color: main.$contrast;
    background-color: main.$backLight;
    border: 2px solid main.$primary;
  }
  button:hover {
    filter: brightness(95%);
  }
  button:active {
    filter: brightness(90%);
  }

  label {
    margin: 60px 0 10px;
  }
  input, select {
    width: 160px;

    color: main.$primary;
    background-color: main.$backLight;
    font-size: 1em;
    text-align: center;
  }
}



.buttonLarge {
  font-size: 2em;
  margin: 20px;
  padding: 10px 20px;
}

.buttonSmall {
  font-size: 0.5em;
  margin: 16px;
  padding: 5px 10px;
}

.inputSmallWide {
  font-size: 0.5em !important;
  width: 100% !important;
}

#lobbySubmit {
  font-size: 1em;
  margin-top: 10px;
}

#lobbyLounge {
  span {
    margin-bottom: 10px;
  }
}

#lobbyChat {
  border: 2px solid main.$primary;
  padding: 20px;

  span {
    display: block;
  }
}

#gameRounds {
  #playerGuesses {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    span {
      display: block;
    }
  }
}



#side {
  position: absolute;
  top: 0px;
  left: 0px;

  transform: translate(-80px);
}