<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>AAAHMaker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/old_style.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/app.css"/>
</head>
<body>

  <div id="wrapper">
    <div id="header">
      <span>Header</span>
    </div>
    <div id="content">
      <span>Content</span>
    </div>
    <div id="footer">
      <span>Dan Nelson</span>
      <span>IGME 430 Final Project</span>
    </div>
  </div>

  <div id="side">
    <span>Side Banner</span>
  </div>

  <script src="/assets/appBundle.js"></script>
</body>
</html>
