<!DOCTYPE html>
<html lang="en">
<head>
  <title>Not Found</title>
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
</head>
<body>
  <h1>Status code 404: The '{{page}}' page was not found</h1>
</body>
</html>