<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>TierGuesser</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/login.css"/>
</head>
<body>   
  <h2>Change Password</h2>
  <section id="content">

  </section>
  <p>After Success, returns to the menu page</p>

  <section id="message">
    <p></p>
  </section>

  <script src="/assets/pwchangeBundle.js"></script>
</body>
</html>
