:root {
    --main: #355070;
    --contrast: #CC2936;

    --backAlt: #C2F8CB;
    --back: #AFDFB7;
    --backDark: #A1D2B3;
    --backLight: #B3E9C7;
}

html {
    background-color: var(--backDark);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: var(--main);
}

a:link {
    color: #007AA4;
}

a:visited {
    color: #303691;
}

#wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#content, #header, #footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    width: 1000px;
    padding: 40px;

    background-color: var(--back);
}

#content {
    height: 650px;

    border-top: 1px solid var(--main);
    border-bottom: 1px solid var(--main);
    
    color: var(--contrast);
}

/* Every React component inside the content section
should have these rules */
#content>* {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#content>* button {
    color: var(--contrast);
    background-color: var(--backLight);
    border: 2px solid var(--main);
}

#content>* button:hover {
    filter: brightness(95%);
}



#lobbyMenu button {
    font-size: 2em;
    margin: 20px;
    padding: 10px 20px;
}

#lobbyJoin button, #lobbyCreate button {
    font-size: 0.5em;
    margin: 16px;
    padding: 5px 10px;
}



#side {
    position: absolute;
    top: 0px;
    left: 0px;

    transform: translate(-80px);
}