html {
  background-color: #8585CB;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #355070;
}

a:link {
  color: #007AA4;
}

a:visited {
  color: #303691;
}

html {
  background-color: #D8D8F6;
}

form {
  text-align: right;
  width: 300px;
}

label {
  margin-right: 10px;
}

input {
  margin-bottom: 20px;
}

#message p {
  font-style: italic;
  color: #CC2936;
}

.hidden {
  display: none;
}