html {
  background-color: #8585CB;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #355070;
}

a:link {
  color: #007AA4;
}

a:visited {
  color: #303691;
}

body {
  font-size: 2em;
}

#wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#content, #header, #footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 1000px;
  padding: 40px;
  background-color: #B1B1E5;
}

#content {
  min-height: 650px;
  border-top: 1px solid #355070;
  border-bottom: 1px solid #355070;
  color: #CC2936;
}

/* Every React component inside the content section
should have these rules */
#content > * {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
#content > * button {
  color: #CC2936;
  background-color: #D8D8F6;
  border: 2px solid #355070;
}
#content > * button:hover {
  filter: brightness(95%);
}
#content > * label {
  margin: 60px 0 10px;
}
#content > * input {
  width: 160px;
  font-size: 1em;
  text-align: center;
}

.buttonLarge {
  font-size: 2em;
  margin: 20px;
  padding: 10px 20px;
}

.buttonSmall {
  font-size: 0.5em;
  margin: 16px;
  padding: 5px 10px;
}

#lobbySubmit {
  font-size: 1em;
  margin-top: 10px;
}

#lobbyLounge span {
  margin-bottom: 10px;
}

#lobbyChat {
  border: 2px solid #355070;
  padding: 20px;
}
#lobbyChat span {
  display: block;
}

#side {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-80px);
}